body {
	width: 55em;
    margin: 0 auto 10%;
    font-family: Tahoma;
	position: relative;
}

.navbar {
    margin-bottom: 10px;
}

.navbar-right {
    padding: 0 2em;
}

.navbar-text-user {
    font-style: italic;
}

#login-on-page-form {
    padding: 0.5em;
}