{% extends "base.html" %}
{% block title %}{{ task.title }}{% endblock %}

{%block content %}
    {% if user.is_authenticated %}
        <li>{{ user }}</li>
        <li><a href="{% url 'core:logout' %}" class="button">Logout</a></li>
    {% else %}
        <a href="#">
            <li><a href="{% url 'core:login' %}" class="button">Login</a></li>
        </a>
    {% endif %}
    <div>

	    <div>Text: {{ task.text }}</div>
	    <div>Difficulty: {{ task.difficulty }}</div>
	    <div>Solutions:</div>
	    {% for solution in task.solutions.all %}
	        <div>Code: {{ solution.code }} status: {{solution.status}} By: {{solution.user}} time: {{ solution.time }}</div>
	    {% endfor %}
    </div>
    {% if user.is_authenticated %}
        <div>
        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" />
        </form>
        </div>
    {% endif %}
    <div><a href="{% url 'tasks:task_list' %}">To tasks</a> </div>
{% endblock %}
