{% extends "base.html" %}
{% block title %}{{ task.title }}{% endblock %}

{%block content %}
    {% include "core/authorization.html" %}

    <pre>{{ task.text }}</pre>
    <div>Difficulty: {{ task.difficulty }}</div>

    {% if user.is_authenticated %}
        <div>Solutions:</div>
        <table border="1">
        <tr>
            <td>Code</td>
            <td>Status</td>
            <td>Author</td>
            <td>Time</td>
        </tr>
        {% for solution in task.user_solutions %}
            <tr>
                <td>
                    <a target = "_blank"
                       href="{% url "solutions:code_detail_view" solution.id %}">View and run tests</a>
                </td>
                <td>{{ solution.status }}</td>
                <td>{{ solution.user }}</td>
                <td>{{ solution.time }}</td>
            </tr>
        {% endfor %}
        </table>

        {{ form.media }}
        <div>
        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" />
        </form>
        </div>
    {% else %}
        <div>To submit your solution you need to
            <a href = "{% url "core:login" %}?next={{ request.path }}">login</a>.
        </div>
    {% endif %}

    <div><a href="{% url 'tasks:task_list' %}">To tasks</a> </div>
{% endblock %}
