{% extends "base.html" %}
{% block title %}Cписок задач{% endblock %}

{%block content %}
    {% if user.is_authenticated %}
        <li>{{ user }}</li>
        <li><a href="/logout" class="button">Logout</a></li>
    {% else %}
        <a href="#">
            <li><a href="/login" class="button">Login</a></li>
        </a>
    {% endif %}
    {% for task in object_list %}
    <div>
	    <div><a href={{task.id}}>{{ task.title }}</a></div>
    </div>
    {% endfor %}
    <div><a href="/solutions/create">New Solution</a></div>
{% endblock %}
